* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: #23252c;
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 10px;
  border: 2px solid rgb(33, 155, 255);
  border-radius: 1%;
}
.info--title,
.info--subtitle,
.info--website {
  text-align: center;
}
.info--photo {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
}
.info--title {
  color: #ffffff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}
.info--subtitle {
  color: #f3bf99;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 8px;
}
.info--website {
  display: block;
  color: #f5f5f5;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.info--buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 35px;
}
.info--button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 115px;
  gap: 8px;
  padding: 9px 18px;
  border: none;
  border-radius: 6px;
}
.info--button-logo {
  width: 16px;
  height: 16px;
}
.info--button-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.info--button-link.text--gray {
  color: #374151;
}
.info--button-link.text--white {
  color: #ffffff;
}
.info--button.bg--blue {
  background-color: #5093e2;
}
.info--button.bg--white {
  background-color: #ffffff;
}

.about--title,
.interests--title {
  margin-bottom: 5px;
}
.about--text,
.interests--text {
  margin-bottom: 25px;
}
.h3--header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #f5f5f5;
}
.text {
  font-weight: 10px;
  line-height: 15px;
  font-weight: 400;
  color: #dcdcdc;
}

.footer {
  background-color: #161619;
  padding: 25px 0;
}
.social--list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}
